:root {
    --main-red: crimson;
    --about-sec: #F3FDE8;
    --image-sec: #ffe5e5;
    --achive-sec: #FFBFBF;

}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow: scroll;

}


/* NavBar - Start */
nav{
    background: var(--main-red);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 80px;
    width: 100%;
    z-index: 3;
  }
  label.logo{
    color: white;
    font-size: 30px;
    line-height: 73px;
    padding: 0 10px;
    font-weight: bold;
  }
#main-logo {
    float: left;
    padding: 10px;
    width: 70px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 6px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #222;
    transition: .5s ease-in-out;
    
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1024px){
    label.logo{
      font-size: 20px;
      padding-left: 25px;
    }
    nav ul li a{
      font-size: 16px;
    }
}
@media (max-width: 858px){
    nav{
        position: relative;
        z-index: 3;
    }
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
}
/* NavBar - End / Welcome Banner - Start */

.container {
    position: absolute;
    left: 0;
    top: 79px;
    width: 100%;
    height: 600px;
    animation: animate 16s step-start infinite;
    background-size: cover;
    background-position: center;
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
}

.details {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.details h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 0px 0px 4px black;
}
.details h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0px 0px 4px black;
}
.details a {
    padding: 5px 10px;
    background-color: lightcoral;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 4px black;
    border-radius: 5px;
}

.details a:hover {
    background-color: palevioletred;
}
.tel-num:hover span{
    display: none;
}
.tel-num:hover a:after{
    content: '📞 +917358356611';
}

@keyframes animate {
    0%, 100%{
        background-image: url('images/bg1.jpg');
    }
    25%{
        background-image: url('images/bg2.jpg');
    }
    50%{
        background-image: url('images/bg3.jpg');
    }
    75%{
        background-image: url('images/bg4.jpg');
    }
}

@media (max-width: 858px) {
    .container {
        position: absolute;
        z-index: 1;
    }
    
}

/* Welcome Banner - End / About - Start */

.quote {
    margin-top: 600px;
    width: 300px;
}

.about-text {
    font-size: 2em;
    margin-top: 600px;    
}
.about-text p {
    text-align: left;
    font-size: .75em;
    margin-top: 30px;
    padding-left: 50px;   
}

.about-block, .about {
    width: 100%;
    margin: 0 auto;
    padding: 80px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: var(--about-sec);
}

@media (max-width: 858px) {
    .quote {
        width: 80%;
    }
    .about-text p {
        font-size: .75em;
        text-align: justify;
        padding: 0 25px;
        line-height: 2cap; 
    }
    .about-text  h3 {
        margin-top: 35px;
    }
    .about-text{
        margin-top: 10px;
    }
    .about-block, .about {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        padding: 10px;
        padding-bottom: 30px;
        
    }
    
}

/* About - End / Poster Start */

.image-block {
    width: 100%; 
    padding: 80px 0;
    background-color: var(--image-sec);
}
.image-block h1, #feedback h1 {
    padding-bottom: 70px;
    text-align: center;
}
.poster {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.poster img {
    width: 200px;
    height: 300px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

@media (max-width: 858px) {
    .image-block {
        padding: 30px;
    }
    .poster {
        flex-wrap: wrap;
    }
}


/* Poster End / Achive Start */

.achive-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--achive-sec);
    text-align: center;
    padding: 100px 20px;
}

.achive-block img {
    border: 5px solid crimson;
    border-radius: 50%;
    width: 100px;
}

.achive-block h3 {
    padding-top: 50px;
}

@media (max-width: 858px) {
    .achive-block {
        flex-wrap: wrap;
    }
    .achive-block h3 {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}
/* Achive End / Footer Start */

.footer {
    padding: 30px;
    text-align: center;
    background-color: var(--main-red);
}

.footer h2 {
    color: black;
    margin-bottom: 1rem
}

.social-icons a {
  color: wheat;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 10px 15px;
}
  
.social-icons a:hover {
    background-color: #222;
    border-radius: 5px;
}

/* Footer End */


.about-page {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background : #a9def9;
}
.about-page img {
    width: 400px;
    height: auto;
    border-radius: 20px;
}
.vision {
    background: #708d81;
    padding: 40px;
}
.mission {
    background: #f4d58d;
    padding: 40px;
}
.about-page p, .vision p, .mission p {
    padding: 30px 60px;
    text-align: justify;
    font-size: 1.5em;  
}

.vision img, .mission img {
    width: 250px;
}
.vision img {
    padding-left: 50px;
    float: left;
}

.mission img{
    padding-right: 50px;
    float: right;
}
.mission legend {
    text-align: right;
}
fieldset {
    border-color: crimson;
    border-width: 4px;
}

@media (max-width: 858px) {
    .about-page {
        padding: 20px;
        flex-wrap: wrap;
    }
    .about-page img {
      min-width: 100px;
      height: auto;
    }
    .about-page p, .vision p, .mission p {
        padding: 20px;
        font-size: 1.3em;
        text-align: justify;
        line-height: 2cap; 
    } 
}

#contact-page {
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
  background-color: #555;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  margin-bottom: 40px;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 20px;
}
.left-pane {
  display: block;
  max-width: 500px;
  align-items: center;
}
.chat-girl {
  max-width: 400px;
}

.direct-contact-container {
  margin: auto 0;
  max-width: 500px;
}
  
/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-top: 20px;
  margin-left: -30px;
  padding-right: 20px;
}
  
.list-item {
  line-height: 5;
  color: #111;
  
}
  
.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #222;
  
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #222;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  /*content: '';*/
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #555;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}


.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px bold 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 10px;
}

hr {
  border-color: rgb(255, 255, 255);
}
  
/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }
  .direct-contact-container, .left-pane {
    margin: 0 auto;
  }
  .direct-contact-container {
    margin-top: 0px;
    min-width: 100px;
    max-width: 300px;
  }
  
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .contact-wrapper {
    margin: 0 20px;
  }
  .chat-girl {
    max-width: 280px;
  }

  .direct-contact-container {
    float: none;
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  } 
  .social-media-list{
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}
@media screen and (max-width: 400px) {
  .contact-text{
    margin-left: 10px;
  } 
  .social-media-list, .copyright, hr {
    min-width: 100px;
    margin-left: -40px;
    text-align: center;
  }  
}

.dev-footer {
  background: lightsteelblue;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dev-footer .menu_link {
  font-size: 1.3rem;
  color: black;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
}
.dev-footer .menu_link:hover{
	color: crimson;
  opacity: 1;
  background-color: white;
  font-weight: bold;
}

.dev-footer p {
  color: black;
  margin: 15px 0 10px 0;
  font-size: 1.2rem;
  font-weight: 300;
}

#feedback #feed-bg-image{
  width: auto;
  height: auto;
  background-image: url(images/test_background.jpg);
  background-size: cover;
  backdrop-filter: blur(5px);
}
#feedback .poster img {
  width: 250px;
  height: 350px;
}
#feedback h1 {
  font-weight: bold;
  color: black;
  text-shadow: 0px 0px 5px whitesmoke;
}

/* Gallery Begins */

.gal-title{
  color: #fefae0;
  font-family: Amita;
  margin: 20px auto;
  max-width: 450px;
  min-width: 300px;
  font-size: 3rem;
  text-align: center;
  border-bottom: 10px double #bc6c25;
}
.gallery-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gal-pic, .gal-vid{
width: 300px;
min-width: 300px;
height: 500px;
margin: 10px;
border: 10px solid #fefae0;
transition-duration: 1s;
}

.gal-pic:hover, .gal-vid:hover{
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


/* Courses Begin */
.w3-row .sub-head{
  font-size: x-large;
  border-radius: 8px 8px 0px 0px;
}
.w3-row .sub-head:hover{
  background-color: rgb(236, 161, 161);
}
.red-col-tab {
  background-color: rgb(236, 161, 161);
}
.w3-container h3{
  padding: 15px;
}
.w3-container h5 {
  font-weight: 600;
}
.w3-container q {
  background-color: #f4d58d;
}
.city {
  margin: auto 25px;
  font-size: larger;
}
@media screen and (max-width: 569px) {
  .w3-container h3 {
    padding: 15px;
    text-align: center;
  }
}